@{
    ViewData["Title"] = "Home Page";
}

<style type="text/css">
    .alert-bar {
        display: none;
        margin-top: 2rem;
    }
</style>
<link href="~/css/google-button.css" rel="stylesheet" type="text/css" />
<link href="~/css/home.css" rel="stylesheet" type="text/css" />
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <input type="email" id="email" placeholder="enter your email address" />
    <button type="button" onclick="sendMagicLinkAndCheckWebAuthnStatus()">Send</button>
    <br />
    <div class="separator"><span>OR</span></div>
    <div class="google-btn">
        <a
            href="https://api.mojoauth.com/oauth/social?api_key=@ViewBag.MojoAuthKey&provider=google&redirect_url=@ViewBag.MojoAuthRedirectUri">
            <div class="google-icon-wrapper">
                <img class="google-icon"
                    src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg" />
            </div>

            <p class="btn-text"><b>Sign in with google</b></p>
        </a>
    </div>
    @* <button style="margin-top: 1rem;"
        onclick="document.location='https://api.mojoauth.com/oauth/social?api_key=@ViewBag.MojoAuthKey&provider=google&redirect_url=@ViewBag.MojoAuthRedirectUri'">
        Google Login
        </button> *@
    <div id="alert-bar" class="alert alert-success alert-bar" role="alert">
        We have sent an email, please click on the verification you have received!
    </div>
    <pre id="code" class="alert-bar">
        <code>
        <kbd id="json-code-block"></kbd>
        </code>
        <button type="button" id="webauthn-button">Add WebAuthn</button>
    </pre>
    <script src="https://cdn.mojoauth.com/js/mojoauth.min.js"></script>
    <script type="text/javascript">
        var isFirstLogin = false;
        var webAuthnRegistered = false;
        //        var accessToken = "";
        const mojoauth = new MojoAuth( "@ViewBag.MojoAuthKey" );
        // Check Redirection
        const parseParams = ( querystring ) => {

            // parse query string
            const params = new URLSearchParams( querystring );

            const obj = {};

            // iterate over all keys
            for ( const key of params.keys() ) {
                if ( params.getAll( key ).length > 1 ) {
                    obj[ key ] = params.getAll( key );
                } else {
                    obj[ key ] = params.get( key );
                }
            }

            return obj;
        };
        const params = parseParams( window.location.search )
        if ( params && params.state_id ) {
            checkAuthStatus( params.state_id )
        }
        function sendMagicLinkAndCheckWebAuthnStatus () {
            var email = document.getElementById( "email" ).value;
            if ( email ) {
                checkWebAuthn( email,function () {
                    var xhttp = new XMLHttpRequest();
                    xhttp.open( "POST","Home/SendMagicLink",true );
                    xhttp.setRequestHeader( 'Content-type','application/json' );
                    xhttp.send( JSON.stringify( { email: email } ) );

                    xhttp.onreadystatechange = function () {
                        if ( this.readyState === 4 && this.status === 200 ) {
                            var data = JSON.parse( xhttp.responseText );
                            if ( data && data.state_id ) {
                                document.getElementById( "alert-bar" ).style.display = "block";
                                checkAuthStatus( data.state_id );
                            }
                        }
                    };
                } );
            }
        }

        function checkAuthStatus ( stateId ) {
            var xhttp = new XMLHttpRequest();
            xhttp.open( "GET","Home/ValidateStateId?stateId=" + stateId,true );
            xhttp.send();

            xhttp.onreadystatechange = function () {
                if ( this.readyState === 4 && this.status === 200 ) {

                    var responseData = JSON.parse( xhttp.responseText );
                    if ( xhttp.responseText && responseData && responseData.authenticated ) {
                        document.getElementById( "code" ).style.display = "block";
                        document.getElementById( "json-code-block" ).innerHTML = JSON.stringify( responseData,null,2 );

                        document.getElementById( "webauthn-button" ).onclick = () => {
                            registerWebAuthnStart( responseData.oauth.access_token );
                        };
                    } else {
                        setTimeout( function () { checkAuthStatus( stateId ) },3000 );
                    }
                }
            };
        }

        function checkWebAuthn ( email,sendMagicLinkFunc ) {
            var xhttp = new XMLHttpRequest();
            xhttp.open( "GET","Home/CheckWebAuthnRequest?email=" + email,true );
            xhttp.send();

            xhttp.onreadystatechange = function () {
                if ( this.readyState === 4 && this.status === 200 ) {

                    var responseData = JSON.parse( xhttp.responseText );
                    if ( responseData ) {
                        isFirstLogin = responseData.first_login;
                        webAuthnRegistered = responseData.webauthn_registered;
                        if ( !responseData.webauthn_registered ) {
                            sendMagicLinkFunc();
                        } else {
                            mojoauth.loginWebauthn( email ).then( ( data ) => {

                                document.getElementById( "code" ).style.display = "block";
                                document.getElementById( "json-code-block" ).innerHTML = JSON.stringify( data,null,2 );
                                document.getElementById( "webauthn-button" ).style.display = "none";

                            } ).catch( ( e ) => {
                                console.log( e );
                            } );
                        }
                    }
                }
            };
        }

        async function registerWebAuthnStart ( accessToken ) {
            var data = await mojoauth.enableWebauthn( accessToken );
            if ( data.authenticated ) {
                alert( "WebAuthn is Registered" );
            }
        }
    </script>
</div>
